@media (max-width: 991px) {
  .home__container-left {
    position: relative;
  }

  .teachers__img {
    width: 100%;
  }

  .teachers__item {
    margin-bottom: 27px;
  }

  .courses__container {
    padding-top: 180px;
  }
}

@media (max-width: 769px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }

  .home {
    padding-top: 117px;
    padding-bottom: 15px;
  }

  .home__container-left {
    width: 48%;
    padding-top: 13px;
  }

  .home__title {
    margin-bottom: 18px;
    font-size: 50px;
    line-height: 50px;
  }

  .information__container {
    padding-bottom: 74px;
  }

  .information__top {
    width: 100%;
    padding-right: 10px;
    padding-left: 240px;
    background-size: 30%;
  }

  .information__item {
    padding-left: 0;
    padding-top: 92px;
  }

  .teachers {
    padding-bottom: 21px;
  }

  .teachers__img  {
    margin-bottom: 26px;
  }

  .courses__container {
    padding-top: 212px;
    padding-right: 24px
  }

  .courses__item-1 {
    background-image: url(../img/courses-1-768.png);
  }

  .courses__item-2 {
    background-image: url(../img/courses-2-768.png);
  }

  .courses__item-3 {
    background-image: url(../img/courses-3-768.png);
  }

  .courses__item-4 {
    background-image: url(../img/courses-4-768.png);
  }

  .courses__descr {
    min-height: 191px;
    margin-bottom: 30px;
  }

  .courses__time {
    right: 10px;
  }

  .courses__btn {
    padding-left: 54px;
  }

  .footer__list {
    padding-top: 30px;
  }
}

@media (max-width: 740px) {
  .home__img {
    display: none;
  }
}

@media (max-width: 680px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin: 0;
    margin-bottom: 28px;
  }
}

@media (max-width: 577px) {
  .container {
    padding-left: 33px;
    padding-right: 33px;
  }

  .header__container {
    padding-bottom: 30px;
  }

  .home {
    padding-top: 64px;
    padding-bottom: 17px;
  }

  .home__title {
    margin-bottom: 16px;
  }

  .home__container-left {
    width: 66%;
  }

  .home__descr {
    margin-bottom: 62px;
  }

  .information__container {
    padding-bottom: 54px;
  }

  .information__top {
    padding-left: 180px;
    background-position: top left;
  }

  .teachers {
    padding-bottom: 43px;
  }

  .courses {
    padding-bottom: 80px;
  }

  .courses__container {
    padding-right: 22px;
  }

  .courses__item-1 {
    background-image: url(../img/courses-1-576.png);
  }

  .courses__item-2 {
    background-image: url(../img/courses-2-576.png);
  }

  .courses__item-3 {
    background-image: url(../img/courses-3-576.png);
  }

  .courses__item-4 {
    background-image: url(../img/courses-4-576.png);
  }

  .courses__title {
    margin-bottom: 8px;
    line-height: 23.4px;
  }

  .courses__descr {
    min-height: 288px;
    margin-bottom: 9px;
  }

  .courses__btn {
    padding: 21px 49px;
  }
}

@media (max-width: 575px) {
  .information__item {
    margin-bottom: 30px;
  }

  .courses__container  {
    padding-top: 350px;
  }

  .courses__item-1 {
    background-image: url(../img/courses-1-mobile.png);
  }

  .courses__item-2 {
    background-image: url(../img/courses-2-mobile.png);
  }

  .courses__item-3 {
    margin-bottom: 30px;
    background-image: url(../img/courses-3-mobile.png);
  }

  .courses__item-4 {
    background-image: url(../img/courses-4-mobile.png);
  }

  .courses__descr {
    min-height: 180px;
  }

  .information__item  {
    padding-top: 0;
    padding-left: 120px;
    margin-bottom: 30px;
  }
}

@media (max-width: 510px) {
  .home__title {
    font-size: 30px;
    line-height: 30px;
  }

  .home__descr {
    font-size: 16px;
    line-height: 20.8px;
  }

  .home__btn {
    font-size: 16px;
    line-height: 18.75px;
  }

  .information__top {
    padding-left: 0;
    background-image: none;
  }

  .title {
    font-size: 26px;
    line-height: 26px;
  }

  .courses__container  {
    padding-top: 300px;
  }
}

@media (max-width: 410px) {
  .header__nav {
    max-width: 100%;
  }

  .nav__list {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .home__container-left {
    width: 100%;
    padding-bottom: 50px;
  }

  .information__container {
    padding: 50px 0;
  }

  .teachers {
    padding: 50px 0;
  }

  .courses {
    padding-top: 46px;
    padding-bottom: 51px;
  }
}

@media (max-width: 320px) {
  .container {
      padding-left: 15px;
      padding-right: 15px;
  }

  .logo {
    margin-bottom: 22px;
  }

  .header__container {
    padding: 25px 0;
  }

  .home {
    padding-top: 37px;
  }

  .home__container-left {
    padding-bottom: 33px;
  }

  .home__title {
    margin-bottom: 4px;
  }

  .home__descr {
    margin-bottom: 46px;
  }

  .home__btn {
    padding: 21px 54px;
  }

  .information__container {
    padding-bottom: 20px;
  }

  .information__title {
    margin-bottom: 1px;
    font-size: 20px;
  }

  .information__item  {
    padding-left: 110px;
  }

  .teachers {
    padding-top: 48px;
    padding-bottom: 25px;
  }

  .teachers__title  {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 20px;
  }

  .teachers__item {
    margin-bottom: 24px;
  }

  .title--courses {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
  }

  .courses__container  {
    padding-top: 210px;
    padding-right: 30px;
  }

  .courses__descr {
    margin-bottom: 66px;
    min-height: 233px;
  }

  .courses__btn {
    padding: 21px 56px;
  }

  .courses__h3 {
    margin-bottom: 32px;
  }

  .courses__descr--p {
    margin-bottom: 79px;
  }
}
